
.container{
  width:100%;
}

.row{
  background-color:black;
}

.col-md-8 {
  width: 100%;
  height: 70em;
  color: gold;
  background-image: url("../images/mine_tunnel.png") ;
  background-repeat: no-repeat;
  background-size:60em;
  background-position-x: 50%; 
  background-position-y: 40%;
  display:flex;
  align-content:center;
  align-items:center;
  justify-content:center;
  flex-direction: column;

}

.window{
  text-align: center;
  margin-top: 8.75em;
}

.img{
  margin-bottom: 58em;
}

.boton{
  position: absolute;
}

body{
  background-image: url("../images/9c612ccdd703c68417b3a8df9a5f579e.jpg")
}
